.wrapper {
    background-color: var(--pulsewidth-color-gray-8);
    padding: var(--pulsewidth-spacing-9);
}

.description {
    max-width: 900;
    color: var(--pulsewidth-color-gray-4);
}

.gridLabel {
    color: rgb(120,120,120);
    min-width: 130px;
}

@media (prefers-color-scheme: light) {
    .wrapper {
        background-color: var(--pulsewidth-color-gray-0);
    }
    .description {
        color: rgb(80,80,80);
    }
}